.wrap_site {
  @include wrapper();

  section.card-section {
    @include row-flex();

    // Выпадающий Сайдбар
    aside.aside {
      background: #F3F3F3;
      @include col();
      @include size(3);

      ul {
        li {
          display: block;
          margin-top: 10px;

          a {
            margin-bottom: 20px;
            padding-top: 7px;
            padding-bottom: 7px;
            @include roboto();
            font-weight: 500;
            text-decoration: none;
            color: #000;
            display: block;
            text-indent: 10px;
          }

          // Активный пункт меню
          &.active {
            background: #fff;
          }

          &:hover {
            background: #fff;
          }
        }
      }
    }
  }
}
