.wrap_site {
  @include wrapper();

  section.card-section {
    @include row-flex();

    // Карточка товара
    div.card {
      margin-top: 1rem;
      @include col();
      @include size(9);

      &__breadcrumbs {
        ul {
          display: flex;
          justify-content: flex-start;

          li {
            margin-right: .7rem;

            a {
              text-decoration: none;
              color: #000;
              @include roboto();
              font-size: .9rem;
            }
            span {
              font-size: .8rem;
            }
          }
        }
      }

      // Название товара
      &__product-name {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;

        h1 {
          display: inline-block;
          @include roboto();
          font-size: 1.65rem;
          font-weight: bold;
        }

        a {
          display: inline-block;
          background: url(../img/icon_link.svg) no-repeat 0 0;
          width: 30px;
          height: 33.5px;
          margin-right: 10px;
        }
      }

      // Информационная линия Звезды и пр.
      &__info-row {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-start;

        & > * {
          margin-right: 2rem;
        }

        .rating {
          position: relative;

          i {
            display: inline-block;
            width: 23px;
            height: 23.5px;
          }
          i.fill {
            background: url(../img/star_fill.svg) no-repeat 0 0;
          }
          i.emptyss {
            background: url(../img/star_gray.svg) no-repeat 0 0;
            width: 23px;
            height: 23.5px;
          }
        }

        .review-qty {
          display: inline-block;
          @include roboto();
          font-size: 1rem;
          color: #777;
        }

        .availability {
          .is_present {
            display: inline-block;
            @include roboto();
            font-size: 1rem;
            color: #52C037;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              width: 18px;
              height: 18px;
              right: -20px;
              background: url(../img/check.svg) no-repeat 0 0;
            }
          }

          .absent {
            display: none;
            @include roboto();
            font-size: 1rem;
            color: #CFCFCF;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              width: 18px;
              height: 18px;
              right: -20px;
              background: url(../img/circle-shape-outline.svg) no-repeat 0 0;
            }
          }
        }

        // ID продукта
        .id_product {
          @include roboto();
          font-size: 1rem;
          color: #CFCFCF;
        }
      }

      // Изображение товара
      .wrap-img-price {
        margin-bottom: 5rem;
        display: flex;
        @include roboto();

        // Блок с изображениями товара
        .view-img-product {
          margin-left: 50px;
          margin-top: 40px;
          overflow: hidden;

          .big-img {
            display: inline-block;
            width: 385px;
            height: 456px;
            position: relative;

            .wrap_img {
              max-width: 100%;

              img {
                max-width: 100%;
              }
            }

            .sale {
              display: inline-block;
              position: absolute;
              height: 47px;
              width: 105.75px;
              top: 16px;
              right: 16px;
              background: url(../img/sale.svg) no-repeat center center;
              z-index: 10;
              text-align: center;
              line-height: 47px;
            }

            .zoom {
              position: absolute;
              top: calc(50% - 20px);
              left: calc(50% - 72px);
              width: 144px;
              height: 40px;
              display: inline-block;
              border: 3px solid #1B749F;
              text-align: center;
              line-height: 40px;
              background: #fff;
              cursor: pointer;

              .zoom__text {
                position: relative;
                @include roboto();
                margin-left: 1rem;

                &::before {
                  content: "";
                  position: absolute;
                  width: 18px;
                  height: 18px;
                  left: -28px;
                  top: 0;
                  background: url(../img/zoom.svg);
                }
              }
            }
          }

          .wrap_list_img {
            width: 385px;
            overflow-x: auto;
            overflow-y: hidden;

            .list_img {
              display: flex;
              width: 350px;
/*
TODO Подумать как отобразить скролл
*/
/*              !* Стилизация скролла *!
              &::-webkit-scrollbar {
                width: 2px;
                height: 1px;
              }
              &::-webkit-scrollbar-track { // Задний фон скролла
                background-color: rgba(147, 200, 255, .3);
              }
              &::-webkit-scrollbar-thumb { // Бегунок
                height: 5px;
                background-color: rgba(37, 97, 154, .64);
                border-radius: 3px;
              }

              &::-webkit-scrollbar-corner {
                background-color: #999;
              }
              &::-webkit-scrollbar-track-piece {
                background-color: rgba(147, 200, 255, .3);
              }
              &::-webkit-resizer {
                background-color: rgba(147, 200, 255, .3)
              }
              &::-webkit-scrollbar-button {
                background-color: #fffbfa;
              }*/

              li {
                display: inline-block;
                min-width: 64px;
                height: 76px;
                margin: 1rem;
                border: 3px solid transparent;

                &:hover {
                  border: 3px solid #1B749F;
                }

                img {
                  width: 100%;
                }
              }
            }
          }
        }

        // Блок с ценой, преимущества, краткая информация
        .block-price {
          margin-top: 40px;

          &__price {
            display: flex;
            justify-content: flex-start;
            margin-bottom: .5rem;
            align-items: flex-end;


            .price__sale {
              margin-right: .8rem;
              font-weight: bold;
              font-size: 2rem;

              span {
                font-size: 2rem;
              }
            }

            .price__sale-not {
              font-size: 1rem;
              text-decoration: line-through;
              color: #777;

              span {
                font-size: 1rem;
                text-decoration: line-through;
                color: #777;
              }
            }
          }
        }

        // + 0 - в корзину
        .block-price__qty {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;

          form {
            display: inline-block;
            justify-content: center;

            a {
              width: 42px;
              height: 42px;
              display: inline-block;
              border: 3px solid #1B749F;
              text-decoration: none;
              color: #000;
              line-height: 42px;
              text-align: center;
              font-size: 2rem;
            }

            input {
              font-size: 2rem;
              outline: none;
              border: none;
              width: 48px;
              line-height: 48px;
              text-align: center;
              display: inline-block;
            }
          }
          a.btn {
            width: 184px;
            height: 48px;
            display: inline-block;
            background: #1B749F;
            color: #fff;
            text-align: center;
            line-height: 48px;
            text-decoration: none;
            font-size: 20px;
          }
        }
      }
    }
  }
}