@font-face {
  font-family: 'MagistralC';
  src: url('./fonts/MagistralC-Bold.eot');
  src: url('./fonts/MagistralC-Bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/MagistralC-Bold.woff2') format('woff2'),
  url('./fonts/MagistralC-Bold.woff') format('woff'),
  url('./fonts/MagistralC-Bold.ttf') format('truetype'),
  url('./fonts/MagistralC-Bold.svg#MagistralC-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


@mixin magistr {
  font-family: 'MagistralC';
}

@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin oswald {
  font-family: 'Oswald', sans-serif;
}

