

/* ===================================================================
							FOOTER
======================================================================*/
.footer {
  background: #000000;
}
.footer__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer__wrapper::before {
  content: "";
  position: absolute;
  width: 840px;
  height: 477px;
  right: 5%;
  top: 5%;
  background: url(../img/russia-map.svg);
  background-size: 100%;
}
.footer__wrapper::after {
  content: "Более 10 000 заказов от Ялты до Владивостока";
  position: absolute;
  width: 197px;
  height: 32px;
  right: 709px;
  top: 22%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #777777;
  opacity: 0.7;
}
.footer-logo {

}
.footer-up__list {
  display: flex;
  justify-content: space-between;
}
.footer-up__item--1 {
  display: flex;
  flex-direction: column;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-top: 81px;
  margin-left: 29px;
  width: 232px;
}
.footer-contacts li {
  margin-bottom: 24px;
}
.footer-contacts li:nth-child(3) {
  margin-bottom: 17px;
}
.footer-contacts-link {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  position: relative;
}

.contact-email::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 0px;
  width: 24px;
  height: 24px;
  background: url(../img/email.svg);
}
.contact-phone::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: -32px;
  top: 0px;
  background: url(../img/phone.svg);
}
.work-time-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #777777;
}
.footer-contacts-text {

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}
.footer-up__info {
  margin-left: 76px;
  margin-top: 30px;
}
.footer-btn {
  margin: 0;
}
.footer-navigation {
  display: flex;
  margin-top: 41px;
}

.footer-navigation__part {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;

}
.footer-navigation__part:first-child {
  margin-right: 87px;
}
.footer-navigation__text {
  margin-top: 18px;
  margin-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}
.footer-navigation__item {
  margin-bottom: 16px;
}
.footer-up__item--3 {
  margin-top: 144px;
  margin-right: 16px;
}
.social {
  display: flex;
  flex-direction: column;
}
.social__item {
  margin-bottom: 8px;
  position: relative;
}
.social__link--sp {
  margin-bottom: 16px;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
  background: #1B749F;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
}
.social__link--close {
  display: block;
  width: 40px;
  height: 40px;
}
.social__link--close::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../img/close.svg) no-repeat 50% 50%;
}
.social__link--sp::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../img/message.svg) no-repeat 50% 50%;
}
.social__link--telegram::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../img/Telegram.svg) no-repeat 50% 50%;
}
.social__link--viber::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../img/Viber.svg) no-repeat 50% 50%;
}
.social__link--vk::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../img/VK.svg) no-repeat 50% 50%;
}
.social__link--whatsup::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../img/WhatsApp.svg) no-repeat 50% 50%;
}
.social__link--up::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../img/up.svg) no-repeat 50% 50%;
}
.footer-middle {
  display: flex;
  flex-direction: column;
  margin: 64px 20px 8px 73px;
}
.pay {
  display: flex;
  margin-left: 8px;
}

.pay__item {
  position: relative;
  width: 64px;
  height: 40px;
  margin-right: 31px;
}
.pay__item--visa::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 40px;
  background: url(../img/visa.svg) no-repeat;

}
.pay__item--mastercard::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 40px;
  background: url(../img/mastercard.svg) no-repeat;
}
.pay__item--mir::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 40px;
  background: url(../img/mir.svg) no-repeat;
}
.pay__item--mir::after {
  content: "";
  position: absolute;
  left: 95px;
  width: 2px;
  height: 40px;
  background:  #1B749F;
}
.pay__item--mail-russia {
  margin-left: 31px;
}
.pay__item--mail-russia::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 40px;
  background: url(../img/rus-mail.svg) no-repeat;
}

.pay__item--del-line::before {
  content: "";
  position: absolute;
  width: 152px;
  height: 40px;
  background: url(../img/del-line.svg) no-repeat;
}
.copyright {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #777777;
  max-width: 1080px;
}
.footer-down {
  display: none;
  height: 75px;
  align-items: center;
  background: url(../img/footer-geometry.svg) no-repeat 100% 100% #ffffff;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  margin-left: 6.695%;
  margin-right: 1.117%;
  width: 100%;
}
.footer-social__item:first-child {
  flex-grow: 2;
}
.footer-social__item:nth-child(2) {
  flex-grow: 1;
}
.footer-social__item:nth-child(3) {
  flex-grow: 1;
}
.footer-social__item:nth-child(4) {
  flex-grow: 1;
}
.footer-social__item:nth-child(5) {
  flex-grow: 7;
}
.footer-social__link--sp {
  display: block;
  width: 48px;
  height: 48px;
  background: #1B749F;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  position: relative;
}
.footer-social__link--sp::before {
  content: "";
  position: absolute;
  width: 25.26px;
  height: 25.26px;
  background: url(../img/message.svg) no-repeat;
  left: 11.37px;
  top: 11.37px;
  background-size: 100%;
}
.footer-social__link--telegram {
  display: block;
  width: 48px;
  height: 48px;
  background: linear-gradient(203.2deg, #37AEE2 21.67%, #1E96C8 70%);
  position: relative;
}
.footer-social__link--telegram::before {
  content: "";
  position: absolute;
  width: 26.1px;
  height: 21.89px;
  background: url(../img/Telegram.svg) no-repeat;
  left: 10.95px;
  top: 13.055px;
  background-size: 100%;
}

.footer-social__link--viber {
  display: block;
  width: 48px;
  height: 48px;
  background: #7F4DA0;
  position: relative;
}
.footer-social__link--viber::before {
  content: "";
  position: absolute;
  width: 28.71px;
  height: 28.87px;
  background: url(../img/Viber.svg) no-repeat;
  left: 9.645px;
  top: 9.565px;
  background-size: 100%;

}
.footer-social__link--vk {
  display: block;
  width: 48px;
  height: 48px;
  background: #4C6C91;
  position: relative;
}
.footer-social__link--vk::before {
  content: "";
  position: absolute;
  width: 25.6px;
  height: 14.34px;
  background: url(../img/VK.svg) no-repeat;
  left: 11.2px;
  top: 16.83px;
  background-size: 100%;
}
.footer-social__link--whatsup {
  display: block;
  width: 48px;
  height: 48px;
  background: #25D366;
  position: relative;
}
.footer-social__link--whatsup::before {
  content: "";
  position: absolute;
  width: 28.66px;
  height: 28.8px;
  background: url(../img/WhatsApp.svg) no-repeat;
  left: 9.67px;
  top: 9.6px;
  background-size: 100%;
}
.footer-social__link--up {
  display: block;
  width: 48px;
  height: 48px;
  background: #1B749F;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  position: relative;
}
.footer-social__link--up::before {
  content: "";
  position: absolute;
  width: 22.4px;
  height: 22.4px;
  background: url(../img/up.svg) no-repeat;
  left: 12.8px;
  top: 12.8px;
  background-size: 100%;
}

/* 1032px */


@media (max-width: 1032px) {

  .footer__wrapper::before {
    width: 772px;
    height: 439px;
    right: 3%;
    top: 9%;
  }
  .footer__wrapper::after {
    font-size: 14px;
    right: 511px;
    top: 18%;
  }
  .footer-up__info  {
    margin-left: 51px;
  }

  .footer-middle {
    margin: 64px 48px 10px 48px;
  }
  .pay {
    margin: 0;
  }
  .pay li {
    margin-right: 16px;
  }
  .pay .mir {
    margin-right: 31px;
  }
  .footer-up__item--3 {
    margin-top: 152px;
    margin-right: 8px;
  }
  .social__link {
    display: block;
    width: 32px;
    height: 32px;
    background: #1B749F;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  }
  .social__link--close {
    display: block;
    width: 32px;
    height: 32px;
  }
  .social__link--close::before {
    width: 18.67px;
    height: 18.67px;
    background-size: 100%;
    left: 6.665px;
    top: 6.665px;
  }
  .social__link--sp::before {
    width: 17px;
    height: 17px;
    background-size: 100%;
    left: 7.5px;
    top: 7.5px;
  }
  .social__link--telegram::before {
    width: 17.5px;
    height: 15.6px;
    background-size: 100%;
    left: 7.25px;
    top: 8.7px;
  }
  .social__link--viber::before {
    width: 19.14px;
    height: 19.25px;
    background-size: 100%;
    left: 6.43px;
    top: 6.375px;
  }
  .social__link--vk::before {
    width: 17.07px;
    height: 10.56px;
    background-size: 100%;
    left: 7.465px;
    top: 11.22px;
  }
  .social__link--whatsup::before {
    width: 19.11px;
    height: 19.2px;
    background-size: 100%;
    left: 6.445px;
    top: 6.4px;
  }
  .social__link--up::before {
    width: 14.93px;
    height: 14.93px;
    background-size: 100%;
    left: 8.535px;
    top: 8.535px;
  }


}


/* 840px */


@media (max-width: 840px) {

  .footer__wrapper::before {
    position: absolute;
    width: 570px;
    height: 346px;
    right: 7%;
    top: 20%;
  }
  .footer__wrapper::after {
    width: 197px;
    height: 32px;
    right: 49px;
    top: 70%;
  }

  .footer-logo img {
    width: 229px;
    height: 38px;
  }
  .footer-contacts {
    margin-top: 30px;
  }
  .footer-contacts li:first-child {
    margin-bottom: 20px;
  }
  .footer-contacts li:nth-child(2) {
    margin-bottom: 16px;
  }
  .footer-contacts li:nth-child(3) {
    margin-bottom: 8px;
  }
  .footer-navigation {
    margin-right: 89px;
  }
  .footer-up__item--3 {
    display: none;
  }
  .footer-navigation__part:first-child {
    margin-right: 26px;
  }

}


/* 720px */


@media (max-width: 720px) {

  .footer__wrapper::before {
    right: 0%;
    top: 115px;
  }
  .footer__wrapper::after {
    right: 78px;
    top: 200px;
  }
  .footer-up__list {
    flex-direction: column;
  }
  .footer-contacts {
    flex-wrap: wrap;
    align-content: space-between;
    max-width: 471px;
    width: 100%;
    height: 160px;
  }
  .footer-up__info  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 32px;
  }
  .footer-logo {
    align-self: center;
  }
  .footer-contacts {
    margin-left: 0;
    margin-top: 48px;
  }
  .footer-contacts li:last-child {
    position: absolute;
    top: 640px;
    right: 11%;
  }
  .footer-up__item--2 {
    display: flex;
    justify-content: center;
  }
  .footer-navigation {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    max-width: 486px;
    justify-content: space-between;
  }
  .footer-navigation__part {
    margin-left: 0;
  }
  .footer-btn {
    min-width: 152px;
    font-size: 16px;
  }
  .footer-down {
    display: flex;
  }
}
