header.header {
  /* TODO позаботится об отдельных классах для ссылок меню */
  /* TODO добавить изображение на бэкграунд, - "треугольники" */

  .header__wrapper {
    background: url(../img/background-logo.svg) no-repeat -16px -16px;

    .header-up.container {
      @include wrapper();

      .wrapper {
        @include col();
        position: relative;

        // Первая линия
        ul.header-up__list {
          //background: url(../img/background-logo.svg);
/*          &::before {
            content: "";
            position: absolute;
            width: 330px;
            height: 200px;
            left: -3px;
            background: url(../img/background-logo.svg);
          }*/

          margin-top: 1rem;
          @include row-flex();
          justify-content: space-between;

          li.sandwich {
            @include col();
            @include size(1);
            margin-left: 0;
          }


          // Ваш регион
          li.your-town {
            position: relative;
            @include col();
            @include size(2);
            font-size: 1rem;
            padding-left: 26px;
            @include roboto();

            span.your-town__span--2 {
              display: none;
            }

            &::before {
              content: "";
              position: absolute;
              width: 18px;
              height: 18px;
              left: -3px;
              background: url(../img/geo.svg);
            }
          }

          // Контакты Акции Бесплатная доставка
          & > li:nth-child(3) {
            //margin-left: 6rem;
            @include col();
            @include size(5);
            padding-left: 65px;

            nav.site-navigation {
              ul.site-navigation-part {
                display: flex;
                flex-wrap: wrap;

                li {
                  margin-right: 2.75rem;
                  position: relative;

                  &:hover::before {
                    content: "";
                    position: absolute;
                    width: 50px;
                    height: 2px;
                    background: #000;
                    top: 20px;
                  }

                  a {
                    text-decoration: none;
                    color: #000;
                    @include roboto();
                    font-weight: bold;
                    letter-spacing: 1px;
                  }
                }



                li:last-child {

                  &:hover::before {
                    width: 120px;
                  }
                }
              }
            }
          }

          // Аккаунт корзина
          & > li:nth-child(4) {
            //margin-left: 8.1rem;
            @include col();
            @include size(4);

            ul.login {
              display: flex;
              position: relative;
              justify-content: space-between;
              margin-left: 6.6rem;

              &::before {
                content: "";
                position: absolute;
                width: 450px;
                height: 3px;
                background: #1B749F;
                top: 35px;
                left: -65px;
              }

              li.login__item {
                margin-right: -8px;
                //margin-left: 4rem;

                a.login__link {
                  @include roboto();
                  font-weight: bold;
                  letter-spacing: 1px;
                  text-decoration: none;
                  color: #000;

                  .login__span--2 {
                    display: none;
                  }
                }
                .login__link--account, .login__link--bucket {
                  position: relative;
                }
                .login__link--account::before {
                  content: "";
                  position: absolute;
                  width: 32px;
                  height: 32px;
                  left: -40px;
                  top: -6px;
                  background: url(../img/round-account.svg);
                }
                .login__link--bucket::before {
                  content: "";
                  position: absolute;
                  width: 32px;
                  height: 32px;
                  left: -40px;
                  top: -6px;
                  background: url(../img/baseline-shopping.svg);
                }
              }
            }
          }
        }
      }
    }

    // Вторая линия
    .header-middle.container {
      @include wrapper();

      ul.header-middle-list {
        display: block;
        margin-top: 4rem;
        position: relative;
        @include row-flex();

        li.header-middle__item.header-middle__item--1 {
          @include col();
          @include size(3);

          a.header-logo {
            img {
              width: 100%;
            }
          }
        }

        li.header-middle__item.header-middle__item--2 {
          @include col();
          @include size(9);

          padding-left: 65px; // отступ такой же как и у контактов выше

          ul.header-middle__list.header-middle__wrapper {
            display: flex;
            justify-content: space-between;

            li.header-middle__item.header-middle__item--order {
              display: flex;
              justify-content: space-between;

              ul.phones {
                display: inline-block;
                margin-right: 4.3rem;
                position: relative;

                &::before {
                  content: "";
                  position: absolute;
                  width: 24px;
                  height: 24px;
                  left: -28px;
                  top: 18px;
                  background: url(../img/baseline-phone.svg);
                }

                li {

                  a {

                  }

                  @include roboto();
                  text-decoration: none;
                  color: #000;
                  font-weight: 500;
                  font-size: 20px;
                }

                li.work-time {
                  span {
                    @include roboto();
                    font-size: 13px;
                    color: #777;
                    font-weight: 300;
                  }
                }
              }

              // Кнопка
              a.feedback-btn.button {
                display: inline-block;
                background: #1B749F;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
                text-decoration: none;
                color: #fff;
                @include roboto();
                height: 40px;
                width: 161px;
                text-align: center;
                line-height: 40px;
              }
            }

            li.header-middle__item.header-middle__item--search {

              form {
                label.search-label {

                  &::before {
                    content: "";
                    position: absolute;
                    right: 20px;
                    z-index: 1;
                    width: 40px;
                    height: 40px;
                    background: url(../img/search-ikon.svg) no-repeat 50% 50% #1B749F;
                  }

                  span.visually-hidden {
                    visibility: hidden;
                    width: 0;
                    height: 0;
                    display: block;
                  }
                  input.search-input {
                    display: inline-block;
                    /*                    height: 40px;
                                        width: 480px;*/
                    margin-right: 1rem;
                    width: 461px;
                    height: 40px;
                    text-indent: 10px;
                    @include roboto();
                    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
                  }
                }
              }
            }
          }
        }

        li.hheader-middle__item.header-middle__item--3 {
          position: absolute;
          right: -48px;
          top: -30px;
        }
      }
    }
  }
}

// Третья линия
.header-down {
  @include wrapper-full();
  margin-top: 2.5rem;
  height: 48px;
  background: #000;

  .container {

    .wrapper {
      @include wrapper();

      nav.catalog-navigation {

        ul.catalog-menu {
          @include row-flex();
          line-height: 48px;

          .menu-full {
            @include col();
            @include size(3);
            position: relative;

            &::after {
              content: "";
              position: absolute;
              width: 24px;
              height: 24px;
              background: url(../img/menu-katalog.svg) no-repeat 0 0;
              right: 4%;
              top: 22%;
            }

            &::before {
              content: "";
              position: absolute;
              width: 13px;
              height: 48px;
              background: #fff;
              right: -14px;
              top: 0;
            }

            a.menu-full__link {
              text-decoration: none;
              color: #fff;
              @include roboto();
              padding-left: 10px; // из-за идеи выдвинуть меню за пределы сетки

              &:hover::before {
                content: "";
                position: absolute;
                width: 100px;
                height: 2px;
                left: 0;
                top: 40px;
                background: #fff;
              }
            }
          }
          .menu-part {
            @include col();
            @include size(9);

            .menu-part-list {
              display: flex;
              justify-content: space-between;

              li {
                position: relative;

                a.menu-part__link {
                  text-decoration: none;
                  color: #fff;
                  @include roboto();

                  span.menu-part__span::before {
                    content: "";
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    left: -39px;
                    top: 11px;

                  }
                  .menu-part__span--1::before {
                    background: url(../img/cardio.svg) no-repeat 0 0;
                  }
                  .menu-part__span--2::before {
                    background: url(../img/health.svg) no-repeat 0 0;
                  }
                  .menu-part__span--3::before {
                    background: url(../img/iron.svg) no-repeat 0 0;
                  }
                  .menu-part__span--4::before {
                    background: url(../img/ball.svg) no-repeat 0 0;
                  }
                }

                &:hover::before {
                  content: "";
                  position: absolute;
                  width: 100px;
                  height: 2px;
                  left: -39px;
                  top: 40px;
                  background: #fff;
                }

                &:first-child {
                  margin-left: 4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*
ID для активного пункта меню, - "Контакты Акции Бесплатная доставка"
*/
#active_first_line_menu:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background: #000;
  top: 20px;
}


// Баннер после header
main.main {
  .banner.main-container {

  }
}