@import "smart-grid";
@import "fonts";
@import "header";
@import "banner";
@import "aside_card";
@import "card_full";
@import "footer";

.debug {
  @include debug(rgba(103, 99, 120, 0.3), 1px solid rgba(157, 153, 250, 0.8));
}

html, body {
  @include reset();
  font-size: 16px;
  box-sizing: border-box;
}

* {
 // @include roboto();
  font-size: 16px;
  transition: all .3s;
}



